{% extends '::base.html.twig' %}
{% block title %} Entreprise {{ entreprise.nom }}  {% endblock %}

{% block body %}

<h1> Information concernant l'entreprise {{ entreprise.nom }} </h1>

<table border = 1>
	<tr>
		<th>Nom</th>
		<th>Activité</th>
		<th>Numero rue</th>
		<th>Nom rue</th>
		<th>Code Postal</th>
		<th>Ville</th>
		<th>Telephone</th>
		<th>Mail</th>
	</tr>
	<tr>
	    <td>{{ entreprise.nom }}</td>
		<td>{{ entreprise.activite }}</td>
		<td>{{ entreprise.numeroRue }}</td>
		<td>{{ entreprise.nomRue }}</td>
		<td>{{ entreprise.codePostal }}</td>
		<td>{{ entreprise.ville }}</td>
		<td>{{ entreprise.numeroTel }}</td>
		<td>{{ entreprise.adresseMail }}</td>
	</tr>
</table>
{% endblock %}
